*	{
	margin:0;
}

body {
	background-image: url(Imagenes/BackgroundCSS.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: sans-serif;
	font-size:1em;
}

.title1	{
	background-color: black;
	color:white;
	text-align:center;
	padding: 1rem 1rem;
	font-size:2rem;
}

.block1	{
	background-color: rgba(68,134,163,0.7);
	padding: 4rem 2rem 4rem 2rem;
	font-size:1.2rem;
	display:block;
	width:auto;
	column-width:30em;
	color:white;
	text-align:justify;
}

.Image	{
	border-radius: 1em;
	width:100%;
	height: auto;
	display:inline-block;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,2);

}

.block2	{
	background-color: rgba(255,255,255,0.6);
	padding: 4rem 2rem 4rem 2rem;
	font-size:1.2rem;
	display:block;
	width:auto;
	column-width:30em;
	text-align:justify;
}

.title2	{
	background-color: black;
	color:white;
	text-align:center;
	padding: 1rem 1rem;
	font-size:2rem;
}

p.text	{
	padding-left: 3rem;
	text-align:left;
	color:darkred;
	background-color:grey;
	padding-top:1rem;
	padding-bottom:1rem;
	border-radius: 2rem;
}

legend	{
	border-radius: 1.8rem;
	box-shadow:0px 8px 8px 0px rgba(0,0,0,2);
	margin-bottom: 1rem;

}

fieldset {
	border:none;
}