*	{
	margin:0;
}

body {
	background-image: url(Imagenes/BackgroundCSS.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: sans-serif;
	font-size:1em;
}

.title1	{
	background-color: black;
	color:white;
	padding: 1rem 2rem 1rem 2rem;
	font-size: 2rem;
	border-radius:3rem;
	text-align:left;
	box-shadow:0px 8px 5px 0px rgba(0,0,0,2);

}

.block1	{
	background-color: rgba(0,0,0,0.6);
	margin:3rem auto 3rem auto;
	align-items: center;
	padding: 3rem 2rem 3rem 2rem;
}

.col1-1 {
	font-size:1.1rem;
	color: white;
	text-align: justify;
	flex-basis:48%;
}

.image	{
	border-radius: 1em;
	box-shadow:0px 8px 20px 0px rgba(0,0,0,2);
	box-sizing: border-box;
	width:100%;
}

.col1-2	{
	flex-basis:48%;
}

.col2-1	{
	font-size:1.1rem;
	color: black;
	text-align: justify;
	flex-basis:48%;
}

.block2	{
	background-color: rgba(255,255,255,0.6);
	margin:3rem auto 3rem auto;
	align-items: center;
	padding: 3rem 2rem 3rem 2rem;
}

.text	{
	padding-left: 3rem;
	text-align:left;
	color:darkred;
	background-color:lightgrey;
	padding-top:1rem;
	padding-bottom:1rem;
	border-radius: 1rem;
	box-shadow:0px 8px 6px 0px rgba(0,0,0,2);

}

@media (min-width: 900px)	{
	 .block1	{
	 	display:flex;
	 	justify-content:space-between;
	 	flex-wrap: wrap;
	 }
	 .block2	{
	 	display:flex;
	 	justify-content:space-between;
	 }
	 .title1	{
	 	font-size:1rem;
	 }
}