*	{
	margin:0;
	box-sizing: border-box;
}

body	{
	background-image: url(img/UPTAEB_azul.svg), linear-gradient(90deg, white, lightblue);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover;
	background-blend-mode: overlay; 
	font-family: sans-serif;
	font-size: calc(.6rem + 0.5vw);
	line-height: calc(1rem + 1.2vw);
}

h1,
h2,
h3,
h4 {
	font-size: calc(1.5rem + 1.5vw);
	line-height: calc(1.5rem + 1.5vw);
	color: #E55E1A;
}

h5	{
	font-size: calc(1.1rem + 1.2vw);
	margin-bottom: 1rem;
}

li	{
	list-style: square;
}

ul {
	padding-left: 0;
}

h3 + p,
h3 + ul	{
	margin-top: calc(0.7rem + 1vw);
}

h3 + p	{
	margin-bottom: calc(0.7rem + 1vw);
}

* + h5	{
	margin-top: 1rem;
}



input + h3	{
	margin-top: 1rem;
}

.banner	{
	flex-basis: 100%;
	background-color:#354453;
	display: none;
}

.banner	{
	line-height: 1rem;
	z-index: 2;
}

.colbanner1	{
	max-width: 20rem;
	display: flex;
}

.colbanner2	{
	flex:2.5;
	flex-flow:column;
	padding: 4rem 1rem 0rem;
	box-sizing: border-box;
}

.imagen-banner {
	display: block;
	box-sizing: border-box;
	height: 5rem;
	margin: 1rem;
}

.banner-text	{
	color: white;
	font-size: 0.75rem;
	margin: auto auto;
	font-weight: bold;
}

.menu-nav 	{
	background-color: #354453;
	height: 2.5rem;
	display: flex;
	font-weight: bold;
	box-shadow:	0px 8px 5px 0px rgba(0,0,0,.8);
	z-index: 1;
}

.menu-nav a	{
	display: flex;
	flex: 1;
	text-decoration: none;

}

.menu-nav button	{
	color: white;
	flex: 1;
	text-align: center;
	font-weight: bold;
	transition-duration: .4s;
	border: 1px solid rgba(255,255,255,.2);
	border-top: none;
	border-bottom: none;
	transition-duration: .5s;
	background-color: #354453;
	height: 100%;
}

.menu-nav button:hover	{
	background-color: #E55E1A;
	color: black;
	cursor: pointer;
}

.banner-text2	{
	color: white;
	font-size: 1rem;
	text-align: right; 
	font-weight: bold;
}

.banner1 {
	display: flex;
	justify-content: center;
	place-items: center;
}

.banner1-1	{
	background-color: rgba(0,0,0,0.7);
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 1rem 2rem;
	position:absolute;
	color: white;
	text-align: center;
}

.imagen-banner1	{
	max-width: 100%;
	display:block;
}


.banner2	{
	display: flex;
	background-color: #354453;
	box-shadow: 0px 8px 10px 0px rgba(0,0,0,.8);
	width: 100%;
	justify-content: center;
	height: 2.5rem;
	margin-top:1rem;
	z-index: 998;
}

.menu	{
	display: flex;
	max-width: 100%;
	justify-content: center;
	flex-wrap: wrap;
}

 .menu
 	.button1,
 	.button2,
 	.button3,
 	.button4 	{
 	display: none;
 }

 .reset	{
	display:flex;
	position: sticky;
	position: -webkit-sticky;
	top: 2rem;
	border: none;
	font-weight: bold;
	color: white;
	background-color: #E55E1A;
	border-radius: 0.3rem;
	transition-duration: .4s;
	height: 2rem;
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,.8);
	margin-left: auto;
	margin-right: auto;
	padding-left: calc(.5rem + 0.5vw);
	padding-right: calc(.5rem + 0.5vw);
	font-size: calc(0.6rem + 0.5vw);
}

 .reset:hover	{
	background-image: linear-gradient(to bottom, #E55E1A, #99502C);
}

.button1-toggle	{
	background-color: transparent;
	border: none;
	color: white;
	cursor: pointer;
	font-weight: bold;
	z-index: 999;
	transition-duration: 0.4s;
	border: 1px solid rgba(255,255,255,.2);
	padding-left: calc(.5rem + 0.5vw);
	padding-right: calc(.5rem + 0.5vw);
	font-size: calc(0.6rem + 0.5vw);
	line-height: 1rem;
	display:flex;
	height: 2.5rem;
	place-items: center;
	border-top: none;
	border-bottom: none;
}

.button1:checked ~ .button1-toggle	{
	background-image: linear-gradient(to bottom, #E55E1A, #99502C);
	box-shadow: 0px 0px 8px 0.3rem white;
	color: black;
}

.button1:checked ~ .hidden1	{
	display: flex;
	transform: scale(1,1);
	opacity: 1;
	position: static;
}

.hidden1	{
	padding: 1rem;
	background-color: rgba(0,0,0,0.95);
	background-image: url(img/book.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: overlay; 
	color: white;
	position: absolute;
	transform: scale(0, 1);
	text-align: justify;
	flex-flow: column;
	column-width: 45ch;
	max-width: 100%;
	transform-origin: left;
	transition: 400ms ease-in-out;
	opacity: 0;
	z-index: 500;
}

.hidden1 * +li 	{
	margin-top: 1rem;
}

.button2-toggle	{
	background-color: transparent;
	border: none;
	color: white;
	cursor: pointer;
	font-weight: bold;
	padding-left: calc(.5rem + 0.5vw);
	padding-right: calc(.5rem + 0.5vw);
	font-size: calc(0.6rem + 0.5vw);
	z-index: 999;
	transition-duration: 0.4s;
	border: 1px solid rgba(255,255,255,.2);
	line-height: 1rem;
	display:flex;
	height: 2.5rem;
	place-items: center;
	border-top: none;
	border-bottom: none;
}

.button2:checked ~ .button2-toggle	{
	background-image: linear-gradient(to bottom, #E55E1A, #99502C);
	box-shadow: 0px 0px 8px 0.3rem white;
	color: black;
}

.button2:checked ~ .hidden2	{
	display: flex;
	transform: scale(1,1);
	opacity: 1;
	position: static;
}

.hidden2	{
	padding: 1rem;
	background-color: rgba(0,0,0,0.95);
	background-image: url(img/book.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: overlay; 
	color: white;
	position: absolute;
	transform: scale(0, 1);
	flex-flow: column;
	column-width: 45ch;
	max-width: 100%;
	transform-origin: right;
	transition: 400ms ease-in-out;
	opacity: 0;
	z-index: 500;
}

.button3-toggle	{
	background-color: transparent;
	border: none;
	color: white;
	cursor: pointer;
	font-weight: bold;
	padding-left: calc(.5rem + 0.5vw);
	padding-right: calc(.5rem + 0.5vw);
	font-size: calc(0.6rem + 0.5vw);
	z-index: 999;
	transition-duration: 0.4s;
	border: 1px solid rgba(255,255,255,.2);
	line-height: 1rem;
	display:flex;
	height: 2.5rem;
	place-items: center;
	border-top: none;
	border-bottom: none;
}

.button3:checked ~ .button3-toggle	{
	background-image: linear-gradient(to bottom, #E55E1A, #99502C);
	box-shadow: 0px 0px 8px 0.3rem white;
	color: black;
}

.button3:checked ~ .hidden3	{
	display: flex;
	transform: scale(1,1);
	opacity: 1;
	position: static;
}

.hidden3	{
	padding: 1rem;
	background-color: rgba(0,0,0,0.95);
	background-image: url(img/book.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: overlay; 
	color: white;
	position: absolute;
	transform: scale(0, 1);
	flex-flow: column;
	column-width: 45ch;
	max-width:100%;
	transform-origin: left;
	transition: 400ms ease-in-out;
	opacity: 0;
	z-index: 500;
}

.button4-toggle	{
	background-color: transparent;
	border: none;
	color: white;
	cursor: pointer;
	font-weight: bold;
	padding-left: calc(.5rem + 0.5vw);
	padding-right: calc(.5rem + 0.5vw);
	font-size: calc(0.6rem + 0.5vw);
	z-index: 999;
	transition-duration: 0.4s;
	border: 1px solid rgba(255,255,255,.2);
	line-height: 1rem;
	display:flex;
	height: 2.5rem;
	place-items: center;
	border-top: none;
	border-bottom: none;
}

.hidden4 * +li 	{
	margin-top: 1rem;
}

.button4:checked ~ .button4-toggle	{
	background-image: linear-gradient(to bottom, #E55E1A, #99502C);
	box-shadow: 0px 0px 8px 0.3rem white;
	color: black;
}

.button4:checked ~ .hidden4	{
	display: flex;
	transform: scale(1,1);
	opacity: 1;
	position: static;
}

.hidden4	{
	padding: 1rem;
	background-color: rgba(0,0,0,0.95);
	background-image: url(img/book.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: overlay; 
	color: white;
	position: absolute;
	transform: scale(0, 1);
	flex-flow: column;
	column-width: 45ch;
	max-width:100%;
	transform-origin: right;
	transition: 400ms ease-in-out;
	opacity: 0;
	z-index: 500;
}

.fun-link	{
	text-align:center;
	color: #E55E1A;
}

.imagenes	{
	padding-bottom: 2rem;
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	box-sizing: border-box;
	place-items: center;
}

.imacont	{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(278px,1fr));
	height: 20rem;
	overflow-y: auto;
	max-width: 100%;
}

.imagrid	{
	max-width: 100%;
	display: block;
	box-shadow: 0 0 8px 8px black;
	border-radius: 1rem;
}

.zoom	{
	transform: scale(1);
	transform-origin: center;
	transition-duration: .5s;
	margin: 1.3rem;
}

.zoom:hover	{
	transform: scale(1.3);
	z-index: 1000;
}

.title	{
	max-width: 100%;
	text-align: center;
	padding: 1rem;
	align-content: center;
	border-radius: 1rem 1rem 0 0;
}

.talleres	{
	margin: 2rem auto 0;
	max-width: 100%;
	background-color: rgba(0,0,0,0.7);
	display: flex;
	flex-flow: column;
	padding-bottom: 2rem;
}

.talleres-header	{
	padding: 2rem 1rem 0rem;
	color: white;
	max-width: 100%;
}

.talleres-grid	{
	display: grid;
	margin: 0 1rem;
	grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
	grid-gap: 1rem;
}

.talleres-content	{
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 1rem;
	border-radius: 1rem;
	place-items: center;
	transition-duration: .4s;
	transform: scale(.99);
}

.talleres-content p {
	padding-bottom: 1rem;
}

.talleres-image	{
	width: 55%;
}

.talleres-content:hover	{
	transform: scale(1);
}

.talleres-content a	{
	margin: auto 0 0;
}

.tallbut	{
	background-color: #354453;
	color: white;
	padding: 0.4rem;
	border: none;
	border-radius: 6px;
	font-size: 0.95rem;
	transition-duration: .4s;
	text-decoration: none;
}

.tallbut:hover	{
	color: black;
	background-color:#E55E1A;
}

.tabla	{
	max-width: 100%;
	margin-top: 1.5rem;
	border-collapse: collapse;
	display: flex;
	line-height: 1.3rem;
}

tr	{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%
}

td	{
	border: solid black 0.5px;
	padding: 0.5rem;
	overflow: auto;
	font-size: calc(.3rem + 1vw);
}


.filaH	{
	background-color: #3F3F3F;
	color: white;
}

.filaH fieldset	{
	border: none;
}

.filaH legend	{
	font-weight: bold;
}

.filaH1	{
	background-color: #F8CAAC;
	color: Black;
}

.filaH1 fieldset	{
	border: none;
}

.filaH1 legend	{
	font-weight: bold;
}

.filaName	{
	color: black;
	background-color: #EB701C;
	font-weight: bold;
	text-align: center;
}

tr.filaName	td	{
	flex: 12.5%;
}

.filaContent	{
	color: white;
	background-color: #44546A;
	justify-content: center;
}

tr.filaContent	td	{
	flex: 12.5%;
}

.filaContent li {
	margin-left: calc(.1rem + 0.3vw);
}

.footer	{
	flex-basis: 100%;
	background-color: #282923;
	display: none;
	line-height: 1rem;
}

.colfooter1	{
	max-width: 20rem;
	display: flex;
}

.colfooter2	{
	flex:2.5;
	flex-flow:column;
	padding: 4rem 1rem 0rem;
	box-sizing: border-box;
	text-align: right;
}

.imagen-footer {
	display: block;
	box-sizing: border-box;
	height: 5rem;
	margin: 1rem;
}

.footer-text	{
	color: white;
	font-size: 0.75rem;
	margin: auto auto;
	font-weight: bold;
}

.body1	{
	display: flex;
	margin: 6.25% 0;
	flex-direction: column;
	max-width: 100%;
}

.body2	{
	display: flex;
	margin: 6.25% 0;
	flex-direction: column;
	max-width: 100%;
}

.content	{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	justify-content: space-evenly;
	background-color: rgba(0,0,0,0.7);
	gap: calc(1.8rem + 1vw);
	padding: 6.25%;
}

* + .content	{
	background-color: #354453;
}

.imagenC	{
	display: flex;
	gap: 1rem;
	max-width: 100%;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-evenly;
}

.imagenC .tallbut	{
	background-color: #E55E1A;
}

.content img{
	display: block;
	width: 100%;
}

.contenttext	{
	color: white;;
}

.colorli	{
	color: white;
}

.contenttext h1	{
	margin-bottom: 1.8rem;;
}

@media (min-width: 768px)	{
	.content	{
		flex-wrap: nowrap;
		place-items: center;
	}
	.contenttext {
		max-width: 70%;
	}
	.content img {
		max-width: 50%;
	}
	.imagenC	{
		flex-direction: column;
		place-items: center;
	}
	.logoimg	{
		max-width:45%;
		min-width: 0;
	}


}

@media (min-width: 900px)	{
	.tabla	{
		margin-left: 15%;
		margin-right: 15%;
	}
	.hidden1,
	.hidden2,
	.hidden3,
	.hidden4	{
		margin-left: 15%;
		margin-right: 15%;
		padding: 1rem 5%;
	}
	.imagenes	{
		margin-left: 15%;
		margin-right: 15%;
	}
	.talleres	{
		margin-left: 15%;
		margin-right: 15%;
	}
	.talleres-header {
		text-align: center;
		max-width: 100%;
		line-height: 1.5rem;
	}
	.banner	{
		display: flex;
		z-index: 9999;
	}
	.menu-nav	{
		position: sticky;
		top: 0;
	}
	.menu-nav {
		padding-left: 70%;
	}
	.banner1-1	{
		padding: 3% 15%;
		flex-flow: row;
		place-items: center;
		column-gap: 2rem;
	}
	.banner1-1 h3	{
		text-align: right;
	}
	.banner1-1 p {
		text-align: left;
	}
	.filaContent li	{
		margin-left: 1rem;	
	}

	td {
		font-size: calc(.6rem + 0.5vw);
	}
	.footer {
		display: flex;
	}


}
	